{{> post-info post}}

{{#if loggedin}}
<article class="post" id="comment-form">
    <form class=""comment-form>
        <div>Comment</div>
        <div>
            <textera name="comment-body"></textera>            
        </div>

        <div>
            <button type="submit" id="submit"></button>          
        </div>
        </form>
        </article>
        {{/if}}

        {{> comments post.comments}}

        {{#if loggedIn}}    
        <script src="/javascript/comment.js"></script>
        {{/if}}